* {
    border: 0;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    margin: 0;
    background-image: linear-gradient(rgb(29, 43, 132), rgb(15, 22, 66));
    height: 100vh;
}

.ending-logo-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 3;
    position: absolute;
}

.ending-logo {
    width: 80%;
}

.blank {
    height: 45%;
}

.badge-list {
    height: 10%;
    display: flex;
    flex-direction: row;
}

.badge-item {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.badge {
    scale: 0.15;
}

.count-list div p {
    color: rgb(137, 228, 245);
}

.count-list {
    display: flex;
    flex-direction: row;
}

.count-list div {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-data {
    display: flex;
    flex-direction: row;
}

.about-data-block {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.about-data-block h3 {
    color: rgb(137, 228, 245);
    margin-bottom: 0;

}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}



.replay {
    min-height: 53px;
    min-width: 166px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    position: relative;
    cursor: pointer;
    background: -webkit-gradient(linear, left top, right top, color-stop(-12.74%, rgba(110, 239, 255, .5)), color-stop(56.76%, rgba(106, 224, 255, .271)));
    background: linear-gradient(90deg, rgba(110, 239, 255, .5) -12.74%, rgba(106, 224, 255, .271) 56.76%);
    border: 2px solid #acf7ff;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
}

.replay:before {
    content: "";
    width: 4px;
    height: 28px;
    background: #19173b;
    border: 2px solid #acf7ff;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
    bottom: -7px;
    left: 4px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.replay:after {
    content: "";
    position: absolute;
    left: -2px;
    bottom: -2px;
    border-top: 15px solid transparent;
    border-left: 15px solid #fffcf7;
}

.button-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}